<div id="signup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="signup">
        <h3 class="modal-title">Sign Up</h3>
      </div>
      <div class="modal-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

           <div> <%= f.email_field :email, placeholder: 'Email', autofocus: true %> <br /></div>

           <div> <%= f.password_field :password, placeholder: 'Password 8 characters min', autocomplete: "off" %><br /></div>

            <div><%= f.password_field :password_confirmation, placeholder: 'Confirm your password', autocomplete: "off" %><br /></div>

            </div>
            <div class="modal-footer">
              <div class = "text-center">
            <%= f.submit "Sign up", class:'btn btn-small btn-success' %>
              <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-link" type="button" style="bottom: 0;"
                        data-toggle="modal" data-target="#login" data-dismiss="modal">Already Have an Account?</button>
      <% end %>
        </div>
        </div>
    </div>
  </div>
</div>